
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    background-color: #eee;
}

header
{
    background-color: antiquewhite;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}