
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    background-color: #eee;
}

header
{
    background-color: antiquewhite;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

header nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;
}

header nav h1 
{
    font-size: 30px;
    font-weight: 600;
}

header nav .tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav .tabs .tab
{
        display: block;
}

header nav .tabs .tab a[data-switcher]
{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #eee;
    background-color: rgb(106, 117, 5);
    cursor: pointer;
}


